@font-face {
  font-family: "gilroy";
  src: url("epccfont/regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gilroy";
  src: url("epccfont/regular-italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "gilroy";
  src: url("epccfont/bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "gilroy";
  src: url("epccfont/bold-italic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "gilroy";
  src: url("epccfont/light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "gilroy";
  src: url("epccfont/light-italic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}