html * {
    font-size: 1em;
}

.pathContainer {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 55%;
    width: 93vw;
    height: 80vh;
    border-width: 0px;
    border-style: solid;
    border-color: black;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("background.png");
    width: 100vw;
    height: 100vh;
}

.header {
    position: absolute;
    transform: translate(-50%, -50%) scale(1.8);
    left: 50%;
    top: 130px;
    display: grid;
    grid-template-columns: auto 1fr;
    /* logo column, then title/subtitle column */
    grid-template-rows: auto auto;
    column-gap: 1rem;
    align-items: center;
    font-family: gilroy;
    font-weight: bold;
}

.logo {
    grid-row: 1 / span 2;
    /* logo spans both rows */
    grid-column: 1;
    width: 180px;
    /* adjust to taste */
    height: auto;
    margin-right: 10px;
}

.title {
    grid-column: 2;
    grid-row: 1;
    transform: translate(0, -20%);
}

.subtitle {
    grid-column: 2;
    grid-row: 2;
    transform: translate(0, -080%);
}

.system {
    position: absolute;
    width: 200px;
    height: 200px;
    transform: translate(-50%, -50%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    padding: 8px;
    border-radius: 20px;
    filter: drop-shadow(2px 2px 4px rgb(100, 97, 97))
}

.preEPCC {
    background-color: rgb(178, 178, 178);
}

.future {
    background-color: rgb(81, 154, 255)
}
.transition {
    background-color: rgba(41, 41, 41, 0);
}

.systemYear {
    position: absolute;
    font-size: 1.3em;
    color: #F9B016;
    font-family: gilroy;
    top: 5%;
    left: 5%;
    background-color: rgba(41, 41, 41, 0.3);
    padding: 5px;
    border-radius: 15px;
}

.systemName {
    position: absolute;
    font-family: gilroy;
    font-size: 0.7em;
    transform: translate(0, -100%);
    top: 95%;
    left: 5%;
    max-width: 82%;
    color: white;
    background-color: rgba(41, 41, 41, 0.3);
    padding: 5px;
    border-radius: 15px;
}

.systemStat {
    font-family: gilroy;
    font-style: italic;
    font-size: 0.7em;
    display: none; /* The system divs all have this stat attached to them, but im not sure if we actually want to use it, so adding line stops that line from being placed on the page */

}
.transCap {
    position: absolute;
    font-size: 1.5em;
    font-family: gilroy;
    color: white;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: rgba(41, 41, 41, 0.5);
    padding: 10px;
    border-radius: 15px;
}

.timelineLine {
    pointer-events: none;
    stroke: white;
    stroke-linejoin: round;
    stroke-linecap: round;
    fill-opacity: 0;
    z-index: -1;
}

.systemImage {
    position: absolute;
    height:90%;
    min-width: 0;
    max-width: 90%;
    transform: translate(-100%, -100%);
    top: 95%;
    left: 95%;
    border-radius: 16px;
    z-index: -1;
    object-fit: cover;
    object-position: left;

}

.modalOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.modalOverlay.open {
    display: flex;
}

.modalBox {
    background: white;
    padding: 2rem;
    width: 75vw;
    height: 75vw;
    overflow: auto;
    border-radius: 8px;
    white-space: pre-line;
}